.login-zone {
    background-color: purple;
    color: white;
    padding: 2%;
    border-radius: 3%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.login-zone h1 {
    text-align: center;
    padding-bottom: 10px;
}

.login-zone .input-box {
    display: flex;
    width: 100%;
    padding: 5px;
}

.login-zone .input-box input {
    width: 100%;
    padding: 0.5rem;
}

.login-zone .input-box i {
    font-size: 2rem;
    position: relative;
}

.login-zone .login-form div {
    display: flex;
    justify-content: center;
}

.login-zone .login-btn {
    width: 70%;
    padding: 0.5rem;
    margin: 0.5rem;
}

